* {
  box-sizing: border-box;
}

:root {
  --light: 240 238 233;
  --leading: 21px;
  --dark: 0 0 0;
}

::selection {
  background: rgb(var(--light)/1);
}

html {
  -webkit-font-smoothing: antialiased;
  line-height: var(--leading);
  letter-spacing: 0.125px;
  font-size: 13px;
}

body {
  margin: 0;
}

svg {
  display: block;
}

h4 {
  margin: 0 0 calc(var(--leading) * 0.5) 0;
  font-weight: inherit;
}

a {
  text-decoration-color: rgb(var(--dark) / 0);
  text-underline-offset: 2px;
  color: inherit;
}
a:hover {
  text-decoration-color: rgb(var(--dark) / 0.25);
}
