* {
  box-sizing: border-box;
}

:root {
  --light: 240 238 233;
  --leading: 21px;
  --dark: 0 0 0;
}

::selection {
  background: rgb(var(--light)/1);
}

html {
  -webkit-font-smoothing: antialiased;
  line-height: var(--leading);
  letter-spacing: 0.125px;
  font-size: 13px;
}

body {
  margin: 0;
}

svg {
  display: block;
}

h4 {
  margin: 0 0 calc(var(--leading) * 0.5) 0;
  font-weight: inherit;
}

p {
  margin: 0 0 calc(var(--leading) * 1) 0;
}

a {
  text-decoration-color: rgb(var(--dark) / 0);
  text-underline-offset: 2px;
  color: inherit;
}
a:hover {
  text-decoration-color: rgb(var(--dark) / 0.25);
}

/* Footer */

body > footer {
  padding: calc(var(--leading) * 1) calc(var(--leading) * 1);
  gap: calc(var(--leading) * 2) calc(var(--leading) * 1);
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  display: grid;
}

body > footer form {
  grid-column: 1 / -1;
}

body > footer form fieldset {
  border-bottom: 1px solid rgb(var(--dark) / 0.125);
  border-top: 1px solid transparent;
  grid-template-columns: 1fr auto;
  border-right: none;
  border-left: none;
  display: grid;
  padding: 0;
  margin: 0;
}
body > footer form fieldset:hover {
  border-bottom: 1px solid rgb(var(--dark) / 0.25);
}
body > footer form fieldset:focus-within {
  border-bottom: 1px solid rgb(var(--dark) / 1);
}

body > footer form input {
  padding: calc(var(--leading) * 0.25 - 1px) 0;
  color: rgb(var(--dark) / 1);
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  background: none;
  appearance: none;
  font-size: 16px;
  outline: none;
  border: none;
}
body > footer form input::placeholder {
  font-size: 1rem;
}

body > footer form button {
  padding: calc(var(--leading) * 0.25 - 1px) 0;
  min-width: calc(var(--leading) * 1.5);
  color: rgb(var(--dark) / 0.785);
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  text-align: right;
  background: none;
  appearance: none;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
body > footer form button:hover {
  color: rgb(var(--dark) / 1);
}

body > footer nav {
  gap: calc(var(--leading) * 0.5);
  display: grid;
}
body > footer nav ul {
  gap: calc(var(--leading) * 0.5);
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
}

body > footer small {
  grid-template-columns: 1fr auto;
  grid-column: 1 / -1;
  font-size: inherit;
  opacity: 0.375;
  display: grid;
}
